body {
    background-image: url(./blades.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cadetblue;

    line-height: 1.2;

    font-family: 'Architects Daughter', cursive;
}

main {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

header {
    padding: 10px;
    background-color: #cccccc;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

#clock-submit {
    height: 100%;
}

.half-width {
    width: 50%;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.clock-port {
    width: 25%;
    height: 80vh;

    display: none;
    overflow: scroll;
}

.clock-panel {
    margin: 15px 20px;
    padding-right: 10px;
    border-radius: 15px;
    background-color: #cccccccc;

    display: flex;
}

.clock-panel h2 {
    margin-top: 75px;
}

canvas {
    height: 200px;
    width: 200px;
}