body {
    background-image: url(./blades.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cadetblue;

    line-height: 1.2;
}

main {
    padding: 50px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.clock-port {
    width: 20%;
    /* border: 1px solid black; */
}

header {
    padding: 10px;
    background-color: #cccccc;
    display: flex;
    justify-content: space-between;
}

.clock-panel {
    margin: 15px 20px;
    border-radius: 15px;
    background-color: #cccccccc;

    display: flex;
}

.clock-panel h2 {
    margin-top: 75px;
}

canvas {
    height: 200px;
    width: 200px;
}